<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic QR Code</title>
  <style>
    #qrCodeContainer {
      max-width: 400px; /* Set a maximum width for the QR code container */
      margin: auto; /* Center the container */
    }

    #qrCodeContainer img {
      width: 100%; /* Make the QR code image fill the container */
      height: auto; /* Maintain aspect ratio */
    }
  </style>
</head>
<body>
  <h1>Attendance Qr Code</h1>
  <div id="qrCodeContainer">
    <img id="qrCodeImage" src="https://media.tenor.com/G7LfW0O5qb8AAAAi/loading-gif.gif" alt="QR Code Image">
    
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
   
   document.addEventListener('DOMContentLoaded', () => {
      const socket = io();
      const qrCodeImage = document.getElementById('qrCodeImage');

      socket.on('hashUpdate', (data) => {
       
        qrCodeImage.src = data.qrImageUrl;
      });
    });
   
  </script>
</body>
</html>