<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic QR Code</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class='centered-container'>
    <div class='approval-box qrcode'>
      <h1>Attendance Qr Code</h1>
      <div id="loadingContainer" class="lds-ripple">
        <div></div>
        <div></div>       
      </div>
      <div id="qrCodeContainer">
        <img id="qrCodeImage" src="https://media.tenor.com/G7LfW0O5qb8AAAAi/loading-gif.gif" alt="QR Code Image">
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const socket = io();
      const qrCodeImage = document.getElementById('qrCodeImage');
      const loadingContainer = document.getElementById('loadingContainer');
      const qrCodeContainer = document.getElementById('qrCodeContainer');

      // Initially hide QR code and show loading animation
      qrCodeContainer.style.display = 'none';

      socket.on('hashUpdate', (data) => {
        // Show QR code and hide loading animation when QR code is generated
        qrCodeImage.src = data.qrImageUrl;
        qrCodeContainer.style.display = 'block';
        loadingContainer.style.display = 'none';
      });
    });
  </script>
</body>


</html>
